:root{
    --viridian: #478978;
    --middleBlueGreen: #84DCC6;
    --darkJungleGreen: #0A1F1E;
    --beauBlue: #D6EDFF;
    --uranianBlue: #ACD7EC;
    --oxfordBlue: #0F1C2E;
    --blueBelt: #8B95C9;

    --sm:14px;
    --md:16px;
    --lg:18px;
    --sb:26px;
}
