@use 'vars';

.cardsList{
    display: grid;
    grid-template-columns: auto auto auto auto;
    // grid-template-columns: 1fr 1fr 1fr 1fr ;
    // grid-template-rows: 1fr 1fr 1fr 1fr ;
    max-width: 1700px;
    place-content: center;
    margin: auto;
    margin-top: 30px;
    gap: 10px;

}

.financeHistorial{
    display: grid;
        // grid-template-columns: 1fr;
        // place-content: center;
    gap: 10px;
    // margin: 25px;
    // align-content: center;

    // margin: auto;
    // max-width: 1200px;
    // margin-top: 30px;
}

.historialBox{
    border: solid 1px;
    border-radius: 8px;


}

.financeList{
    display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // place-content: center;
    gap: 10px;
    // margin: 25px;
    // align-content: center;

    margin: auto;
    max-width: 1650px;
    margin-top: 30px;
}
.total{
    grid-column:1;
    grid-row:1/3;
    width: 400px;
    height: auto;

    background-color: var(--blueBelt);
    border-radius: 8px;



    /* background-color: greenyellow; */
    // display: flex;
    //     justify-content: center;
    //     align-content: center;
    // flex-direction: column;
    // display: grid;
    // grid-template-rows: 1fr 2fr ;
    // place-content: center;
}
.totalLine{
    background-color: #9E4770;
    width: auto;
    height: 2.5%;
    border-radius: 8px;
}


.financial-input{
    border-radius: 8px;
    width: auto;
    height: 50px;
    background-color: var(--beauBlue);
    border: 0;

    text-align: right;
    
 
    // background-image: url(@icons/icon-dollar.svg);
    // background-repeat: no-repeat;
    // background-position: 7px 15px;
}
.financial-input:hover{
    background-color: var(--middleBlueGreen);
}

.financial-input:focus{
    border: 0;
    background-color: var(--middleBlueGreen);
    cursor: pointer;
}



.income{
    grid-column: 2;
    grid-row: 1;
    width: 400px;
    height: auto;

    background-color: var(--blueBelt);
    border-radius: 8px;
    /* background-color: greenyellow; */
    // display: flex;
    //     justify-content: center;
    //     align-content: center;
    // display: grid;
    // grid-template-rows: 1fr 2fr ;
    // place-content: center;
}
.incomeLine{
    background-color: #136F63 ;
    width: auto;
    height: 5%;
    border-radius: 8px;
}
.expense{
    grid-column: 3;
    grid-row: 1;
    width: 400px;
    height: auto;


    background-color: var(--blueBelt);
    border-radius: 8px;
    /* background-color: greenyellow; */
    // display: grid;
    // grid-template-rows: 1fr 2fr ;
    // place-content: center;
}
.expenseLine{
    background-color: #D81159 ;
    width: auto;
    height: 5%;
    border-radius: 8px;
}

.savingAccount{
    grid-column: 4;
    grid-row: 1;
    width: 400px;
    height: 350px;
    background-color: var(--blueBelt);
    border-radius: 8px;
    /* background-color: greenyellow; */
    // display: grid;
    // grid-template-rows: 1fr 2fr ;
}

.savingLine{
    background-color:#FFBC42 ;
    width: auto;
    height: 5%;
    border-radius: 8px;
}


.income2{
    grid-column: 2;
    grid-row: 2;
    width: 400px;
    height: 350px;

    background-color: var(--blueBelt);
    border-radius: 8px;
    /* background-color: greenyellow; */
    // display: flex;
    //     justify-content: center;
    //     align-content: center;
    // display: grid;
    // grid-template-rows: 1fr 2fr ;
    // place-content: center;
}
.expense2{
    grid-column: 3;
    grid-row: 2;
    width: 400px;
    height: 350px;

    background-color: var(--blueBelt);
    border-radius: 8px;
    /* background-color: greenyellow; */
    // display: grid;
    // grid-template-rows: 1fr 2fr ;
    // place-content: center;
}

.savingAccount2{
    grid-column: 4;
    grid-row: 2;
    width: 400px;
    height: 350px;
    background-color: var(--blueBelt);
    border-radius: 8px;
    /* background-color: greenyellow; */
    // display: grid;
    // grid-template-rows: 1fr 2fr ;
}

.table{
    border: solid;
}












.title{
    display: flex;
        justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.title-save{
    display: flex;
    flex-direction: column;

    // padding-left: 50px;
    // padding-right: 50px;
}

.detail{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    display: grid;
    
        

}


