@use 'vars';
body {
    margin: 0;
    background-color: var(--uranianBlue)
}
h1{
    font-size: var(--sb);
    font-weight: bold;
    color: var(--darkJungleGreen);
}
h2{
    font-size: var(--sb);
    font-weight: bold;
    color: var(--darkJungleGreen);
}