$viridian: #478978;
$middleBlueGreen: #84DCC6;
$darkJungleGreen: #0A1F1E;
$beauBlue: #D6EDFF;
$uranianBlue: #ACD7EC;
$oxfordBlue: #0F1C2E;
$blueBelt: #8B95C9;


// $base-color: #ff0000;
// $color: rgba(black, 0.88);

// body{
//     background-color: $base-color;
//     color: $color;
// }