@use 'vars';
body {
    margin: 0;
    background-color: var(--uranianBlue)
}
h1{
    font-size: var(--sb);
    font-weight: bold;
    color: var(--darkJungleGreen);
}
h2{
    font-size: var(--sb);
    font-weight: bold;
    color: var(--darkJungleGreen);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
