@use 'vars';

.Todo-Container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // flex-wrap: wrap;

    // border: solid 1px;
    // background-color: gray;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    height: 500px;
    gap: 10px;

}


// Detail-Section
.Detail-Container{
    border-radius: 15px;
    background-color: var(--blueBelt);
    height: 500px;
    width: 20vw;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    display: grid;
    place-items: center;
    font-size: var(--lg);

}

.Detail-TypeTodo{
    display: grid;
        gap: 10px;
}

// TodoList
.TodoList-Container{
    border-radius: 15px;
    background-color: gray;
    height: 500px;
    width: 60vw;
    display: grid;

}
.Todo-header{
    display: flex;
        justify-content: flex-start;
        align-items: center;
    padding-left:10rem ;

}
.Todo-main{
    display: grid;
    padding-left:15rem ;
    max-width: 100%;
    max-height: 300px;
    min-height: 300px;
    overflow: auto;
}


.Todo-footer{
    display: grid;
    place-items: center;

}
.input-addTodo{
    width: 50vw ;
    height: 25px;
    border-radius: 15px;
    text-align: center;

    flex-grow:2;
    border:none;
}

.input-send{
    background:blue;
    color:white;
    width: 50px;
    height: 50px;
}


// todoItem
.TodoItem-container{
    border: solid 1px;
    padding: 10px;
    width: 75%;
    font-size: var(--lg);
    display: flex;
        justify-content: space-between;
        // align-items: flex-start;
}

@media (max-width: 600px) {
    .Todo-Container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        margin-left: 25px;
        margin-right: 25px;
        margin-top: 0;
        height: 500px;
        gap: 10px;
    
    }

    .Detail-Container{
        width: 100%;
        height: 50%;
    }

    .Detail-TypeTodo{
        // display: flex;
        //     justify-content: center;
        //     align-content: center;
        //     gap: 10px;
        display: inline-flex;
        gap: 10px;
    }

    .TodoList-Container{
        width: 100%;
        height: 50%;
        padding: 0;
    }
    .Todo-header{
        display: flex;
            justify-content: flex-start;
            align-items: center;
        padding-left:2rem ;
    
    }
    .Todo-main{
        display: grid;
            
        padding-left:5rem ;
        // overflow: scroll;
    }
    .Todo-footer{
        display: grid;
        place-items: center;
        
    }
    .input-addTodo{
        width: 75%;
    }
    
}

@media (max-width: 800px) {
    .Detail-Container{
        width: 100%;
        height: 50%;
    }

    .Detail-TypeTodo{
        // display: flex;
        //     justify-content: center;
        //     align-content: center;
        //     gap: 10px;
        display: inline-flex;
        gap: 20px;
    }

    .TodoList-Container{
        width: 100%;
        height: 50%;
        padding: 0;
    }
    
    .Todo-header{
        display: flex;
            justify-content: flex-start;
            align-items: center;
        padding-left:2rem ;
    
    }
    .Todo-main{
        display: grid;
            
        padding-left:5rem ;
        // overflow: scroll;
    }
    
    .Todo-footer{
        display: grid;
        place-items: center;
        
    }
    .input-addTodo{
        width: 75%;

    }
    
    
}