@use 'vars';

.Todo-Container{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    // border: solid 1px;
    // background-color: gray;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    height: 500px;
    gap: 10px;

}


// Detail-Section
.Detail-Container{
    border-radius: 15px;
    background-color: var(--blueBelt);
    height: 500px;
    width: 20vw;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    display: grid;
    place-items: center;
    font-size: var(--lg);

}

// TodoList
.TodoList-Container{
    border-radius: 15px;
    background-color: gray;
    height: 500px;
    width: 75vw;
    display: grid;
}
.Todo-header{
    display: flex;
        justify-content: flex-start;
        align-items: center;
    padding-left:10rem ;

}
.Todo-main{
    display: grid;
        
    padding-left:15rem ;
    // overflow: scroll;
}

.Todo-footer{
    display: grid;
    place-items: center;

}
.input-addTodo{
    width: 50vw ;
    height: 25px;
    border-radius: 15px;
    text-align: center;
    
}